<h2 class="listing-heading">Create New Recipe</h2>
<form [formGroup]="newRecipeForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />

    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description" />

    <div formArrayName="instructions">
        <h2 class="listing-heading">Instructions</h2>

        @for (instruction of instructions.controls; track $index; let i = $index) {
            <div>
                <label for="instruction-{{ i }}">Instruction:</label>
                <input id="instruction-{{ i }}" type="text" [formControlName]="i" />
            </div>
        }

        <button type="button" class="primary" (click)="addInstruction()">+ Add Instruction</button>
    </div>

    <button type="submit" class="primary" [disabled]="!newRecipeForm.valid">Save</button>
</form>

<hr/>

<p>Form Value: {{ newRecipeForm.value | json }}</p>
