<h2>Create New Recipe</h2>
<form [formGroup]="newRecipeForm" (ngSubmit)="onSubmit()">
    <div class="recipe-details">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Photo</mat-label>
        <input matInput formControlName="photo">
    </mat-form-field>
    </div>

    <div formArrayName="ingredients">
        <h2>Ingredients</h2>
        <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
                <input matInput formControlName="quantity" placeholder="Quantity">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput formControlName="name" placeholder="Ingredient">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput formControlName="note" placeholder="Optional Note">
            </mat-form-field>
            <button type="button" mat-icon-button aria-label="Delete" (click)="deleteIngredient(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <button type="button" mat-fab extended aria-label="Add" (click)="addIngredient()">
        <mat-icon>add</mat-icon>
        Add Ingredient
    </button>

    <div formArrayName="instructions">
        <h2>Instructions</h2>
        <div *ngFor="let instruction of instructions.controls; let i = index">
            <div class="instructions">
            <mat-form-field>
                <input matInput [formControlName]="i" placeholder="Instruction">
            </mat-form-field>
            <button type="button" mat-icon-button aria-label="Delete" (click)="deleteInstruction(i)">
                <mat-icon>delete</mat-icon>
            </button>
            </div>
        </div>
    </div>
    <button type="button" mat-fab extended aria-label="Add" (click)="addInstruction()">
        <mat-icon>add</mat-icon>
        Add Instruction
    </button>

    <button button="submit" mat-raised-button>
        <mat-icon>add</mat-icon> Save Recipe
    </button>
</form>

<hr/>

<p>Form Value: {{ newRecipeForm.value | json }}</p>
